<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Listar</h6>

  <div class="pt-3">
    <button type="button" class="btn btn-lg btn-primary">Listar Tags</button>
    <button type="button" class="btn btn-lg btn-primary">Listar Usuários</button>
    <button type="button" class="btn btn-lg btn-primary">Listar Elogios Enviados</button>
    <button type="button" class="btn btn-lg btn-primary">Listar Elogios Recebidos</button>
  </div>

</div>