<style>
  .container {
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }
</style>

<div class="container">
  <label>Olá <strong>{{username}}</strong>! Tudo bem?</label>

  <h3>{{subject}}</h3>
  <br />

  <p>Mensagem Recebida :"<strong>{{description}}</strong>"</p>

  <br />
  <label>Tag: <strong>{{tag}}</strong></label>

</div>